    </main>
    <footer class="l-footer footer" id="footer">
      <div class="l-footer__inner">
        <div class="footer-logo">
          <img src="/images/logo_footer.png" class="footer-logo__image js-retina-image" alt="ラジャダムナンスタジアム公認ジム NORNAKSIN TOKYO ノーナクシン ムエタイジム">
          <div class="footer-nav">
            <a href="https://www.facebook.com/%E3%83%8E%E3%83%BC%E3%83%8A%E3%82%AF%E3%82%B7%E3%83%B3%E3%83%A0%E3%82%A8%E3%82%BF%E3%82%A4%E3%82%B8%E3%83%A0-%E6%9D%B1%E4%BA%AC-852042008270718/" class="footer-nav__item is-facebook">Facebook</a>
            <a href="mailto:nornaksin.tokyo@gmail.com" class="footer-nav__item">Contact</a>
          </div>
        </div>
        <a href="#body" class="go-top js-smooth-scroll">Page Top</a>
      </div>
    </footer>
  </div>
<% if (fbAppId) { %>
<!-- Facebook SDK -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.0";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<% } %>
<script src="/js/main.js"></script>
<%# <script src="/js/svg4everybody.min.js"></script>
<script>svg4everybody();</script>%>
</body>
</html>
