<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="description" content="<%= pageDescription %>">
<% if (pageKeywords) { %><meta name="keywords" content="<%= pageKeywords %>"><% } %>
<title><% if (pageTitle) { %><%= pageTitle %>｜<% } %><%= siteName %></title>
<link rel="shortcut icon" href="/images/favicon.ico">
<link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon.png" />
<% if (ogImageUrl) { %>
<meta property="og:title" content="<% if (pageTitle) { %><%= pageTitle %>｜<% } %><%= siteName %>">
<meta property="og:description" content="<%= pageDescription %>">
<meta property="og:type" content="website">
<meta property="og:image" content="<%= ogImageUrl %>">
<meta property="og:site_name" content="<%= siteName %>">
<% } %>
<% if (fbAppId) { %>
<meta property="fb:app_id" content="<%= fbAppId %>">
<% } %>
<% if (twitterSite) { %>
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="<%= twitterSite %>">
<% } %>
<link rel="stylesheet" href="/css/style.css">
<link rel="canonical" href="<%= siteRootUrl %><% if (pageUrl) { %><%= pageUrl %><% } %>">
<% if (googleAnalyticsId) { %>
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	ga('create', '<%= googleAnalyticsId %>', 'auto');
	ga('require', 'displayfeatures');
	ga('send', 'pageview');
</script>
<% } %>
</head>

<body class="body-<%= pageId %>" id="body">
<div id="spFlg"></div>
  <header class="l-header header" id="header">
    <div class="l-header__inner">
      <h1 class="header-logo">
        <a href="#body" class="header-logo__link js-smooth-scroll">
          <img src="/images/logo_header.png" class="js-retina-image" alt="ラジャダムナンスタジアム公認ジム NORNAKSIN TOKYO ノーナクシン ムエタイジム">
        </a>
      </h1>
      <a href="#" class="toggle-menu show-sp" id="js-toggle-menu">
        <span class="toggle-menu__btn" id="js-toggle-btn"></span>
        <%# <span class="toggle-menu__text">Menu</span>%>
      </a>
      <nav class="header-menu" id="js-header-menu">
        <div class="header-menu__section sub-nav">
          <a href="https://www.facebook.com/%E3%83%8E%E3%83%BC%E3%83%8A%E3%82%AF%E3%82%B7%E3%83%B3%E3%83%A0%E3%82%A8%E3%82%BF%E3%82%A4%E3%82%B8%E3%83%A0-%E6%9D%B1%E4%BA%AC-852042008270718/" class="sub-nav__item is-facebook"><span>Facebook</span></a>
          <a href="mailto:nornaksin.tokyo@gmail.com" class="sub-nav__item"><span>Contact</span></a>
        </div>
        <div class="header-menu__section g-nav">
          <a href="#about" class="g-nav__item js-smooth-scroll">About</a>
          <a href="#class" class="g-nav__item js-smooth-scroll is-ja">クラス&amp;料金</a>
          <a href="#hours" class="g-nav__item js-smooth-scroll is-ja">営業時間</a>
          <a href="#access" class="g-nav__item js-smooth-scroll">Access</a>
        </div>
      </nav>
    </div>
  </header>
  <div class="l-wrapper">
    <main class="l-main" id="main">
