<% var
pageTitle = "";
pageId = "index";
pageUrl = "";
pageDescription = "";
pageKeywords = "";
%><% include _header %>
    <section class="l-section kv">
      <img src="/images/kv.jpg" class="js-retina-image" alt="タイ直営ジムで本場の技術を学ぼう!!">
    </section>
    <section class="l-section about" id="about">
      <div class="l-section__inner">
        <h2 class="l-section__title js-scroll-view">
          <span class="en">About</span>
          <span class="ja">ノーナクシンジムとは</span>
        </h2>
        <div class="l-section__main">
          <p class="about-description js-scroll-view">
            数々のチャンピオンやランカーを輩出しているタイ・サラブリー県にある<br class="hide-sp">ナタポン・ナクシン氏が会長を務める名門ノーナクシンムエタイジム。
          </p>
          <ul class="about-photos">
            <li class="about-photos__item js-scroll-view">
              <img src="/images/about_01.jpg" alt="" class="image">
            </li>
            <li class="about-photos__item js-scroll-view">
              <img src="/images/about_02.jpg" alt="" class="image">
              <div class="about-profile">
                <h3 class="about-profile__title">会長</h3>
                <div class="about-profile__body">
                  <div class="name">ナタポン ナクシン<br>ニックネーム：K</div>
                  <p class="desc">
                    1981年8月8日 チョンブリー生まれ<br>
                    リングネーム：Kルークプラパーツ<br>
                    ラジャダムナンスタジアム：フェザー級10位<br>
                    タイ国 戦績：185戦155勝25敗5分<br>
                    日本での戦績：20戦17勝3敗
                  </p>
                  <p class="body">
                    名門ルークプラパーツジムの出身でタイ国サラブリー県にあるノーナクシンジムを2013年に設立。数々のチャンピオンやランカーを育てています。父はラジャダムナンスタジアムのプロモーターで、タイでの試合もサポート出来ます。
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <div class="dividing-image">
      <img src="/images/photo_dividing_01.jpg" alt="">
    </div>
    <section class="l-section class" id="class">
      <div class="l-section__inner">
        <h2 class="l-section__title js-scroll-view">
          <span class="en">Class &amp; Price</span>
          <span class="ja">クラス ＆ 料金</span>
        </h2>
        <div class="l-section__main">
          <p class="class-description js-scroll-view">
            初心者からでも楽しめるクラスもあります<br class="hide-sp">タイムテーブルはFB及び受付にてご確認下さい
          </p>
          <div class="table-wrapper class-list js-scroll-view">
            <table class="table">
              <tbody>
                <tr>
                  <th>ワイクルークラス</th>
                  <td>45分</td>
                </tr>
                <tr>
                  <th>ダイエットクラス</th>
                  <td>1時間</td>
                </tr>
                <tr>
                  <th>ビギナークラス</th>
                  <td>1時間15分</td>
                </tr>
                <tr>
                  <th>キッズクラス</th>
                  <td>1時間30分</td>
                </tr>
              </tbody>
            </table>
          </div>
          <p class="class-message js-scroll-view">私達と楽しく運動して<br class="show-sp">強く美しくなりましょう</p>
          <div class="table-wrapper price-list js-scroll-view">
            <table class="table">
              <tbody>
                <tr>
                  <th>入会金</th>
                  <td>&yen;6,000</td>
                </tr>
                <tr>
                  <th>男性</th>
                  <td>&yen;11,500<span class="note">（1ヶ月フリー利用）</span></td>
                </tr>
                <tr>
                  <th>女性</th>
                  <td>&yen;9,500<span class="note">（1ヶ月フリー利用）</span></td>
                </tr>
                <tr>
                  <th>中学生まで （親子でご入会）</th>
                  <td>&yen;7,000 （ふたりで ¥ 15,000）<span class="note">（1ヶ月フリー利用）</span></td>
                </tr>
                <tr>
                  <th>週一会員</th>
                  <td>&yen;5,500<span class="note">（月4回）</span></td>
                </tr>
              </tbody>
            </table>
            <div class="caution">全て税別になります</div>
          </div>
          <div class="features-list js-scroll-view">
            <img src="/images/feature_01.png" alt="無料体験" class="features-list__item js-retina-image">
            <img src="/images/feature_02.png" alt="見学自由" class="features-list__item js-retina-image">
            <img src="/images/feature_03.png" alt="今なら入会時特典あり!" class="features-list__item js-retina-image">
            <img src="/images/feature_04.png" alt="収納スペースシャワールーム完備" class="features-list__item js-retina-image">
          </div>
          <div class="photo-gallery">
            <img src="/images/photo_01.jpg" alt="" class="photo-gallery__item js-scroll-view">
            <img src="/images/photo_02.jpg" alt="" class="photo-gallery__item js-scroll-view">
            <img src="/images/photo_03.jpg" alt="" class="photo-gallery__item js-scroll-view">
            <img src="/images/photo_04.jpg" alt="" class="photo-gallery__item js-scroll-view">
          </div>
        </div>
      </div>
    </section>
    <section class="l-section hours" id="hours">
      <div class="l-section__inner">
        <h2 class="l-section__title js-scroll-view">
          <span class="en">Business Hours</span>
          <span class="ja">営業時間</span>
        </h2>
        <div class="l-section__main">
          <div class="table-wrapper hours-list js-scroll-view">
            <table class="table">
              <tbody>
                <tr>
                  <th>月</th>
                  <td>定休</td>
                </tr>
                <tr>
                  <th>火～金</th>
                  <td>14時～23時</td>
                </tr>
                <tr>
                  <th>土、日、祝日</th>
                  <td>12時～20時</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
    <section class="l-section access" id="access">
      <div class="l-section__inner">
        <h2 class="l-section__title js-scroll-view">
          <span class="en">Access</span>
          <span class="ja">アクセス</span>
        </h2>
        <div class="l-section__main access__body js-scroll-view">
          <p>
            東京都北区神谷2-48-16 神谷ホワイトハウス1F<br>
            駐輪場完備（バイク可）
          </p>
          <p>
            JR 赤羽駅 南口 徒歩8分<br>
            地下鉄南北線 志茂駅 徒歩 6分
          </p>
          <p class="tel">
            <a href="tel:0359399046">03-5939-9046</a>
          </p>
        </div>
      </div>
    </section>
    <section class="l-section embeded-map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3237.0179453234896!2d139.72540986610085!3d35.77493553243287!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601892f942a1f5d3%3A0x4f7b0838893e0999!2z44CSMTE1LTAwNDMg5p2x5Lqs6YO95YyX5Yy656We6LC377yS5LiB55uu77yU77yY4oiS77yR77yWIOOCq-ODn-ODpOODm-ODr-OCpOODiOODj-OCpuOCuQ!5e0!3m2!1sja!2sjp!4v1488189864805" width="800" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
    </section>
<% include _footer %>
