// Button

// input[type="submit"],
// input[type="reset"],
// input[type="button"],
// button,
.button {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 364px;
  height: 54px;
  line-height: 50px;
  border: solid 2px $color-btn;
  @include fz(20);
  text-indent: .16em;
  letter-spacing: .16em;
  color: $color-btn;
  text-align: center;
  text-decoration: none;
  outline: 0;
  appearance: none;
  cursor: pointer;
  transition: all $duration-transition ease;
  white-space: nowrap;
  @extend %font-strong;

  @media #{$mq-sm} {
    max-width: none;
    height: 48px;
    line-height: 44px;
    @include fz(18);
  }

  &:hover {
    background: $color-btn;
    color: #fff;
  }

  &.is-white {
    border-color: #fff;
    color: #fff;

    &:hover {
      background: #fff;
      color: $color-btn;
    }
  }

  &.is-multi-col {
    margin-left: 0;
    margin-right: 0;
    max-width: 267px;

    @media #{$mq-sm} {
      max-width: none;
    }
  }
}
