@mixin scroll-view($delay: .1, $translateX: 10, $translateY: 0, $translateZ: 0) {
  opacity: 0;
  // transition: transform $duration-transition-slow $easeInOutQuart, opacity $duration-transition-slow $easeInOutQuart;
  transition-delay: $delay + s;
  transform: translate3d($translateX + px, $translateY + px, $translateZ + px);
  // will-change: transform;

  // @media #{$mq-sm} {
  //   opacity: 1;
  //   transform: none;
  // }

  // &.is-animated {
  //   opacity: 1;
  //   transform: translateX(0);
  // }
}

.js-scroll-view {
  opacity: 0;
  transition: transform .75s ease-in-out, opacity .75s $easeInOutQuart, filter $duration-transition-fast linear;
  will-change: transform;
  @include scroll-view(.2, 0, 20);

  // @media #{$mq-sm} {
  //   opacity: 1;
  //   transform: none;
  // }

  &.is-animated {
    opacity: 1 !important;
    transform: translateX(0) !important;
  }
}
