.l-footer {
  width: 100%;
  padding: 87px 0 23px;
  background: $color-base;
  border-top: solid 10px $color-key;
  color: #fff;

  @media #{$mq-sm} {
    padding: 20px 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
    padding: 0 40px;
    width: 100%;
    // max-width: $content-width-pc;

    @media #{$mq-lg} {
      padding: 0 60px;
    }

    @media #{$mq-sm} {
      padding: 0 20px;
    }
  }
}

.footer {
  color: #fff;

  @media #{$mq-sm} {
    position: relative;
    flex-direction: column;
    align-items: stretch;
  }
}

.footer-logo {
  position: relative;

  &__image {
    display: block;
    max-width: 100%;

    @media #{$mq-sm} {

    }
  }
}

.footer-nav {
  position: absolute;
  bottom: 16px;
  left: 168px;
  display: flex;
  justify-content: flex-end;

  @media #{$mq-sm} {
    position: static;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
  }

  &__item {
    @extend %font-strong;
    display: block;
    padding-left: 1.125em;
    background: url(/images/icon_link_white.png) left center no-repeat;
    @include fz(16);
    letter-spacing: .1em;
    @include hover-opacity;
    color: #fff;

    @media #{$mq-sm} {
      display: inline-block;
      padding-left: 1.625em;
      @include fz(14);
    }

    @media #{$at2x} {
      background-image: url(/images/icon_link_white@2x.png);
      background-size: 11px auto;
    }

    &:not(:first-child) {
      margin-left: 28px;

      @media #{$mq-sm} {
        margin-top: .5em;
        margin-left: 0;
      }
    }

    &.is-facebook {
      padding-left: 1.625em;
      background-image: url(/images/icon_facebook_white.png);

      @media #{$mq-sm} {
      }

      @media #{$at2x} {
        background-image: url(/images/icon_facebook_white@2x.png);
        background-size: 16px auto;
      }
    }
  }
}

.go-top {
  display: block;
  margin-bottom: 16px;
  padding-left: 1.125em;
  background: url(/images/icon_pagetop.png) left center no-repeat;
  @extend %font-strong;
  font-size: 16px;
  color: #fff;

  @media #{$mq-sm} {
    position: absolute;
    right: 20px;
    bottom: 20px;
    margin-bottom: 0;
    font-size: 14px;
  }

  @media #{$at2x} {
    background-image: url(/images/icon_pagetop@2x.png);
    background-size: 11px auto;
  }
}
