.l-header {
  position: fixed;
  z-index: 1000;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  border-top: solid 15px $color-key;
  transition: all $duration-transition-slow $easeOutQuart;

  @media #{$mq-sm} {
    border-top-width: 10px;
  }

  &.is-fixed {
    border-top-width: 2px;
    background: #fff;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 24px 40px;
    width: 100%;
    // max-width: $content-width-pc;
    transition: all $duration-transition-slow $easeOutQuart;

    @media #{$mq-sm} {
      align-items: center;
      padding: 10px;
      background: #fff;
    }

    .is-fixed & {
      padding: 15px 40px;

      @media #{$mq-sm} {
        padding: 10px;
      }
    }
  }
}

.header {

}

.header-logo {
  width: 100%;
  max-width: 58%;
  transition: all $duration-transition-slow $easeOutQuart;

  @media #{$mq-sm} {
    max-width: 100%;
    max-width: calc(100vw - 70px);
  }

  .is-fixed & {
    width: 30%;
    max-width: 480px;

    @media #{$mq-sm} {
      width: 100%;
      max-width: 100%;
      max-width: calc(100vw - 70px);
    }
  }

  &__link {
    display: block;
    max-width: 100%;

    img {
      display: block;
      max-width: 100%;
    }
  }
}

.header-menu {
  // width: 100%;
  // height: 100%;
  @extend %font-strong;

  @media #{$mq-sm} {
    position: absolute;
    top: 100%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 20px;
    width: 100vw;
    height: auto;
    border-bottom: solid 1px $color-base;
    background: #fff;
    transition: all .2s;
  }

  &.is-open {
    display: flex;

    @media #{$mq-sm} {
      // display: flex;
      visibility: visible;
      opacity: 1;
    }
  }

  &__section {

  }
}

.toggle-menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  &__btn {
    position: relative;
    display: block;
    margin: 7px 0;
    width: 20px;
    height: 2px;
    background: $color-base;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      display: block;
      width: 20px;
      height: 2px;
      background: $color-base;
    }

    &::before {
      top: -7px;
    }

    &::after {
      bottom: -7px;
    }
  }

  &__text {
    display: block;
    margin-top: 4px;
    font-size: 11px;
    letter-spacing: .24em;
    color: $color-key;
    @extend %font-strong;
  }

  @media #{$mq-sm} {
    display: flex;
  }
}

.sub-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 24px;
  transition: all $duration-transition-slow $easeOutQuart;

  @media #{$mq-sm} {
    // flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 0;
    background: #fff;
  }

  .is-fixed & {
    margin-top: 0;

    @media #{$mq-sm} {
      margin-top: 0;
    }
  }

  &__item {
    display: block;
    padding-left: 1.125em;
    background: url(/images/icon_link_blue.png) left center no-repeat;
    @include fz(16);
    letter-spacing: .1em;
    @include hover-opacity;

    @media #{$mq-sm} {
      padding-left: 0;
      width: 100%;
      height: 64px;
      line-height: 64px;
      text-align: center;
      background-image: none;
    }

    &:not(:first-child) {
      margin-left: 28px;

      @media #{$mq-sm} {
        margin-left: 0;
      }
    }

    &.is-facebook {
      padding-left: 1.625em;
      background-image: url(/images/icon_facebook_blue.png);

      @media #{$mq-sm} {
        padding-left: 0;
        background-image: none;
      }

      > span {

        @media #{$mq-sm} {
          position: relative;
          display: inline-block;
          padding-left: 1.625em;
          background-image: url(/images/icon_facebook_blue@2x.png);
          background-size: 16px auto;
        }
      }
    }

    > span {

      @media #{$mq-sm} {
        position: relative;
        display: inline-block;
        padding-left: 1.125em;
        background: url(/images/icon_link_blue@2x.png) left center no-repeat;
        background-size: 11px auto;
      }
    }
  }
}

.g-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 16px;
  transition: all $duration-transition-slow $easeOutQuart;

  @media #{$mq-sm} {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0;
    background: #fff;
  }

  .is-fixed & {
    margin-top: 10px;

    @media #{$mq-sm} {
      margin-top: 10px;
    }
  }

  &__item {
    display: block;
    @include fz(16);
    letter-spacing: .1em;
    @include hover-opacity;

    @media #{$mq-sm} {
      width: 100%;
      height: 64px;
      line-height: 64px;
      text-align: center;
    }

    &:not(:first-child) {
      margin-left: 58px;

      @media #{$mq-lg} {
        margin-left: 40px;
      }

      @media #{$mq-md} {
        margin-left: 15px;
      }

      @media #{$mq-sm} {
        margin-left: 0;
      }
    }

    &.is-ja {
      font-size: .875em;
    }
  }
}
