.l-main {

  @media #{$mq-sm} {
    padding-top: 40px;
  }
}

.l-section {

  @media #{$mq-sm} {
    // height: auto;
    // min-height: 320px;
  }

  &__inner {
    margin: 0 auto;
    padding: 60px 0;
    max-width: $content-width-pc;

    @media #{$mq-sm} {
      padding: 30px 20px;
    }
  }

  &__title {
    text-align: center;
    color: $color-key;

    .en {
      display: block;
      margin-top: -.25em;
      @include fz(40);
      @extend %font-strong;
      letter-spacing: .05em;

      @media #{$mq-sm} {
        @include fz(32);
      }
    }

    .ja {
      display: block;
      @include fz(16);
      font-weight: 400;
      letter-spacing: .05em;

      @media #{$mq-sm} {
        @include fz(14);
      }
    }
  }
}

.kv {

  @media #{$mq-sm} {
    overflow: hidden;
  }

  img {
    display: block;
    width: 100%;

    @media #{$mq-sm} {
      margin-left: -15%;
      width: 130%;
    }
  }
}

// About
.about-description {
  margin-top: 3em;
  line-height: 1.875;
  text-align: center;
  @include fz(16);

  @media #{$mq-sm} {
    margin-top: 30px;
    text-align: left;
    @include fz(14);
  }
}

.about-photos {
  display: flex;
  justify-content: center;
  margin-top: 100px;

  @media #{$mq-sm} {
    flex-direction: column;
    margin-top: 30px;
  }

  &__item {
    position: relative;
    margin: 0 20px;
    max-width: 600px;

    @media #{$mq-sm} {
      margin-left: 0;
      margin-right: 0;
    }

    &:not(:first-child) {

      @media #{$mq-sm} {
        margin-top: 20px;
      }
    }

    .image {
      display: block;
      width: 100%;
    }
  }
}

.about-profile {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  padding: 50px 30px;
  width: 100%;
  height: 100%;
  // background: rgba(108, 108, 108, .63);
  color: #fff;

  @media #{$mq-sm} {
    position: static;
    flex-direction: column;
    margin-top: 20px;
    padding: 0;
    color: $color-base;
  }

  &__title {
    margin-right: 1em;
    padding-right: 1em;
    border-right: solid 1px #fff;
    font-size: 14px;
    white-space: nowrap;
    letter-spacing: .05em;

    @media #{$mq-sm} {
      margin-right: 0;
      margin-bottom: .5em;
      padding-right: 0;
      padding-bottom: .5em;
      border-right: 0;
      border-bottom: solid 1px $color-base;
    }
  }

  &__body {
    font-size: 14px;
    letter-spacing: .05em;
    max-width: 342px;

    .name {
      line-height: 1.5;
      font-size: 16px;
      font-weight: 600;
    }

    .desc {
      margin-top: 1em;
      line-height: 1.42;
    }

    .body {
      margin-top: 1em;
      line-height: 1.7;
    }
  }
}

// Dividing
.dividing-image {
  overflow: hidden;
  margin-top: 60px;
  text-align: center;

  @media #{$mq-sm} {
    position: relative;
    margin-top: 0;
    text-align: right;
    height: 250px;
  }

  img {
    width: 100%;

    @media #{$mq-sm} {
      position: absolute;
      top: 0;
      right: -60px;
      display: block;
      width: auto;
      height: 100%;
    }
  }
}

// Class & Price
.class-description {
  margin-top: 64px;
  line-height: 1.875;
  text-align: center;
  @include fz(16);
  letter-spacing: .05em;

  @media #{$mq-sm} {
    margin-top: 30px;
    text-align: left;
    @include fz(14);
  }
}

.table-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.table {
  width: 100%;
  border-bottom: solid 1px $color-base;

  @media #{$mq-sm} {
    display: block;
  }

  tbody, tr {

    @media #{$mq-sm} {
      display: block;
      width: 100%;
    }
  }

  th, td {
    padding: .25em;
    border-top: solid 1px $color-base;
    text-align: center;
    @include fz(16);
    font-weight: 400;

    @media #{$mq-sm} {
      display: block;
      width: 100%;
      padding: .5em .25em;
      border-left: solid 1px $color-base;
      border-right: solid 1px $color-base;
    }
  }

  th {

    @media #{$mq-sm} {
      background: $color-base;
      color: #fff;
    }
  }

  td {
    border-left: solid 1px $color-base;
  }
}

.class-list {
  margin-top: 20px;
  max-width: 460px;

  @media #{$mq-sm} {
    max-width: 100%;
  }
}

.class-message {
  margin-top: 56px;
  text-align: center;
  @include fz(28);

  @media #{$mq-sm} {
    margin-top: 20px;
    @include fz(20);
  }
}

.price-list {
  margin-top: 56px;
  max-width: 700px;

  @media #{$mq-sm} {
    margin-top: 20px;
    max-width: 100%;
  }

  td {
    padding: .25em 1.75em;
    text-align: left;

    @media #{$mq-sm} {
      text-align: center;
    }

    .note {
      margin-left: .5em;
      font-size: .875em;

      @media #{$mq-sm} {
        display: block;
      }
    }
  }

  .caution {
    margin-top: .5em;
    text-align: right;
    @include fz(14);
  }
}

.features-list {
  display: flex;
  justify-content: center;
  margin-top: 36px;

  @media #{$mq-sm} {
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
  }

  &__item {
    display: block;
    margin: 20px;

    @media #{$mq-sm} {
      margin: 10px 0;
      width: calc(50% - 20px);
      height: calc(50% - 20px);
    }
  }
}

.photo-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 60px;

  @media #{$mq-sm} {
    flex-direction: column;
    margin-top: 30px;
  }

  &__item {
    display: block;
    margin: 20px;
    width: 100%;
    max-width: 600px;

    @media #{$mq-sm} {
      margin: 0;
    }

    &:not(:first-child) {

      @media #{$mq-sm} {
        margin-top: 20px;
      }
    }
  }
}

// Business hours
.hours-list {
  margin-top: 60px;
  max-width: 400px;

  @media #{$mq-sm} {
    margin-top: 30px;
  }
}

// Access
.access {

  &__body {
    margin-top: 50px;
    text-align: center;
    @include fz(16);

    @media #{$mq-sm} {
      margin-top: 30px;
      @include fz(14);
    }

    p {

      &:not(:first-child) {
        margin-top: 1em;
      }
    }

    .tel {

      a {
        display: inline-block;
        padding-left: 1.25em;
        background: url(/images/icon_phone.png) left center no-repeat;
      }
    }
  }
}

.embeded-map {
  @include map-wrap();
  margin-top: 40px;
  height: 500px;

  @media #{$mq-sm} {
    margin-top: 20px;
    height: 300px;
  }
}
